<html>
<head>
    <title>
        rose.moe
    </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="static/jquery-2.1.3.min.js"></script>
    <script src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script>
    <script type="text/javascript" src="static/dataflow.js"></script>
    <style type="text/css">
        body {
            text-align: center;
            background: #000000;
            color: #fcfcfc;
        }
        #content {
        }
        canvas {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
<div id="layoutwide">
        <div id="content">
            <h1>twextdump</h1>
            <h3>twitter visualizer [under construction]</h3>
            <canvas width=512 height=256 id="canvas0"></canvas>
            <form>
                <input type="text" id="usernameField">
                <input type="button" onclick="submitName()" value="go!">
            </form>
        </div>
    <div id="footer">
        <p>by rose</p>
    </div>
</div>
</body>
</html>